@font-face{
    font-family: 'Benton Sans';
    src: url(../fonts/BentonSans\ Regular.otf);
    font-weight: normal;
}

@font-face{
    font-family: 'Benton Sans';
    src: url(../fonts/BentonSans\ Bold.otf);
    font-weight: bold;
}

@font-face{
    font-family: 'Gill Sans Light';
    src: url(../fonts/Gill\ Sans\ Light.otf);
}

@font-face{
    font-family: 'Gill Sans';
    src: url(../fonts/Gill\ Sans.otf);
    font-weight: normal;
}

@font-face{
    font-family: 'Gill Sans';
    src: url(../fonts/Gill\ Sans\ Bold.otf);
    font-weight: bold;
}









:root{
    --dark-blue: rgb(32,30,47);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', sans-serif;
    font-size: 12px;
}

a {
    color: inherit;
    text-decoration: inherit;
}


















header {
    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: 40% 20% 40%;

    color: white;
    background: none;

    height: 70px;
    width: 100%;

    z-index: 2;
}




#logo{
    display: flex;
    align-self: center;
    justify-self: center;
    padding-right: 6px;
}

#logo img{
    width: 25px;
    height: 25px;
    
}

#logo a{
    align-self: center;

    font-size: 20px;
    font-family: 'Gill Sans Light';
}





#search_bar{
    display: flex;

    align-self: center;
    justify-self: start;

    padding-left: 30px;
}

#search_bar input[type='text']{
    font-size: 0;
    
    border: 1px solid rgba(0,0,0,0);
    background: url(../img/search.svg) no-repeat;
    border-radius: 0;

    color: white;

    transition: all 0.5s ease-in-out;

    height: 20px;
    width: 25px;
    
    cursor: pointer;
    
}

#search_bar input[type='text']:focus{
    font-size: 15px;
    outline: none;
    background: none;
    border-bottom: 1px solid white;
    width: 200px;

    cursor: text;
    background: url(../img/null.svg) no-repeat;
}

#search_bar input[type='submit']{
    display: none;
}







#navigation{
    display: flex;

    align-self: center;
    justify-self: end;

    padding-right: 30px;
}



#navigation .signup{
    background: url(../img/signup.svg);
    width: 25px;
    height: 25px;
}

#navigation .login{
    background: url(../img/profile.svg);
    width: 25px;
    height: 25px;

    margin-left: 20px;
}







#oxford {
    background-image: url(../img/front.JPG);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    color: white;
}

#oxford .wrapper {
    display: grid;
    grid-template-columns: 50% 50%;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
}

#oxford .wrapper .desc{
    align-self: center;
    padding-right: 100px;
    padding-left: 200px;
}

#oxford .wrapper .signup_form{
    align-self: center;

    display: flex;
    flex-direction: column;
    padding-right: 350px;
    padding-left: 100px;
}

#oxford .wrapper .signup_form input[type='text']{
    background: none;
    outline: none;
    border: 2px solid white;
    border-radius: 50px;
    margin-bottom: 20px;
    height: 40px;
    font-size: 15px;
    color: white;

    padding-left: 20px;
}

#oxford .wrapper .signup_form input::placeholder{
    color: rgb(200,200,200);
}

#oxford .wrapper .signup_form input[type='submit']{
    outline: none;
    border: 2px solid white;
    border-radius: 50px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background: white;
}














h1{
    font-size: 50px;
    margin-bottom: 30px;
}

p{
    font-size: 20px;
}









#first{
    margin-top: 500px;
}














@media only screen 
    and (max-device-width: 414px) 
    and (max-device-height: 896px) {

        header{
            height: 140px;
        }

        #search_bar{
            padding-left: 40px;
        }

        #search_bar input[type='text']{
            height: 50px;
            width: 50px;
        }

        #search_bar input[type='text']:focus{
            width: 200px;
            border-bottom: 3px solid white;
        }

        #logo img{
            height: 60px;
            width: 60px;
        }

        #logo a{
            font-size: 50px;
        }

        #navigation{
            padding-right: 40px;
        }

        #navigation .signup, #navigation .login{
            height: 60px;
            width: 60px;
        }





        #oxford .wrapper {
            grid-template-columns: none;
            grid-template-rows: 35% 65%;
        }

        #oxford .wrapper .desc{
            align-self: end;
            padding-right: 15vw;
            padding-left: 15vw;
        }

        #oxford .wrapper h1, #oxford .wrapper p{
            text-align: center;
        }

        #oxford .wrapper h1{
            font-size: 4vh;
            margin-bottom: 3vh;
        }

        #oxford .wrapper p{
            font-size: 2vh;
        }

        #oxford .wrapper .signup_form{
            align-self: start;
            padding-right: 25vw;
            padding-left: 25vw;
            padding-top: 6vh;
        }

        #oxford .wrapper .signup_form input[type='text']{
            height: 4vh;
            margin-bottom: 2vh;
            text-align: center;
            
            padding-left: 0;
            padding-bottom: 0;
        }

        #oxford .wrapper .signup_form input[type='text']::placeholder{
            font-size: 0;
        }

        #oxford .wrapper .signup_form input[type='submit']{
            height: 4vh;
            font-size: 2vh;
            
        }
        
        
    }
